doctype 5
html
    head
        meta(charset='utf-8')
        title= title
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
        script(src="/bootstrap/js/bootstrap-transition.js")
        script(src="/bootstrap/js/bootstrap-alert.js")
        script(src="/bootstrap/js/bootstrap-modal.js")
        script(src="/bootstrap/js/bootstrap-dropdown.js")
        script(src="/bootstrap/js/bootstrap-scrollspy.js")
        script(src="/bootstrap/js/bootstrap-tab.js")
        script(src="/bootstrap/js/bootstrap-tooltip.js")
        script(src="/bootstrap/js/bootstrap-popover.js")
        script(src="/bootstrap/js/bootstrap-button.js")
        script(src="/bootstrap/js/bootstrap-collapse.js")
        script(src="/bootstrap/js/bootstrap-carousel.js")
        script(src="/bootstrap/js/bootstrap-typeahead.js")

        block head

    body
        .navbar.navbar-default.navbar-inverse.navbar-fixed-top
            .container
                .navbar-header
                    button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="#") #{title}
                .navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href="").
                                Home
                        li
                            a(href="profile").
                                Profile
                        li
                            a(href="search").
                                Search
                        //-li.dropdown
                            a.dropdown-toggle(data-toggle="dropdown", href="#").
                                Options
                            b.caret
                                ul.dropdown-menu
                                li
                                    a(href="#").
                                        you
                                li
                                    a(href="#").
                                        have
                                li
                                    a(href="#").
                                        no
                                li
                                    a(href="#").
                                        options
                        form.navbar-form.navbar-right(method="post", action="/", name="login")
                            .form-group
                                input.form-control(id="user", type="text", placeholder="Username")
                            .form-group
                                input.form-control(id="pass", type="password", placeholder="Passphrase")
                            button.btn.btn-success(type="submit").
                                Sign in
                        p.navbar-text Signed in as #{user}

        block content