//
   Created by erik on 2013-10-21.

extends layout

block headA

block content
    h1= title
    p #{title} might not be used
    .container
        form.form
            h2 Please sign in
            input.form-control(type="text", placeholder="username", autofocus)
            input.form-control(type="password", placeholder="passphrase")
            label.checkbox
                input(type="checkbox", value="remember-me") Rembra!
            button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign in