//
   Created by erik on 2013-10-21.

extends layout

block content
    h1= title
    p Welcome to #{title}
        div.top
        //form.form-horizontal(method="post", id="loginForm")
            label Username
            input.span3(id="username", type="text", name="User", placeholder="Enter your username")
            label Password
            input.span3(id="password", type="password", name="Password")
            input.btn(type="submit", value="Log In")
        div.container
            div.content
        div.footer