//
   Created by erik on 2013-10-22.


extends layout

block head
    script.
        $(document).ready(function()
            {$.ajax(
                { success : function()
                    {
                        console.log('data loaded');
                    }, dataType : "application/json",  })}

block content
    h1= title
    p Welcome to #{title}
        div.top
            div.container
                div.content

        div.footer